<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475195321019-8uog4o93jebao0ug8dc71m5cctmrp0cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475195321019-8uog4o93jebao0ug8dc71m5cctmrp0cp</string>
	<key>API_KEY</key>
	<string>AIzaSyDGN0NLKy_FaYSMV-0v2DkcfpiyeSATnIA</string>
	<key>GCM_SENDER_ID</key>
	<string>475195321019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mustOnline</string>
	<key>PROJECT_ID</key>
	<string>shad1-bfc04</string>
	<key>STORAGE_BUCKET</key>
	<string>shad1-bfc04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475195321019:ios:f254a4c0238ae0ca1ed79e</string>
</dict>
</plist>